.google-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 24rem;

  padding: 0.75rem 1.5rem;

  background-color: #4f46e5;
  border: 1px solid #4338ca;
  border-radius: 0.5rem;

  color: #ffffff;
  font-weight: 500;

  box-shadow: 0 2px 4px rgba(79, 70, 229, 0.15);

  transition: all 0.2s ease;
  cursor: pointer;
}

.google-button:hover {
  background-color: #4338ca;
  box-shadow: 0 4px 8px rgba(67, 56, 202, 0.25);
}

.google-button:focus {
  outline: none;
  box-shadow:
    0 0 0 2px #6366f1,
    0 0 0 4px #ffffff;
}

.google-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Contenido interno */
.google-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

/* Icono */
.google-icon img {
  width: 25px;
  height: 25px;
}

/* Texto */
.google-button-text {
  text-align: center;
  font-size: 18px;
  font-family: inter, sans-serif;
  font-weight: bold;
}